bs4
lxml
pymongo
numpy
Janome
suds ; python_version=="2.7"
suds-py3 ; python_version>="3.4"
gevent
requests

#-e git+https://github.com/banyh/PyStanfordNLP#egg=PyStanfordNLP
#-e git+https://github.com/ektormak/Lyssandra#egg=Lyssandra

#-e git+https://git@github.com/livingbio/pyknp.git#egg=pyknp
#-e git+https://git@github.com/livingbio/zhconvert.git#egg=zhconvert

