bs4
pymongo
numpy
Janome
suds
-e git+https://github.com/banyh/PyStanfordNLP#egg=PyStanfordNLP
-e git+https://github.com/ektormak/Lyssandra#egg=Lyssandra

#-e git+https://git@github.com/livingbio/pyknp.git#egg=pyknp
#-e git+https://git@github.com/livingbio/zhconvert.git#egg=zhconvert

